- model_class = Card

- if user_signed_in?
  .clearfix
    = link_to t('.new', :default => t("helpers.links.new")),
      new_card_path, :class => 'btn btn-primary pull-right'
  %br/

- @cards.each_slice(4) do |arr_of_4|
  .row
    - arr_of_4.each do |card|
      .col-md-3.col-sm-6.col-xs-12
        .panel.panel-default.rc-card
          .panel-heading
            = raw card.question
          .panel-body
            %code.rc-card-answer
              = raw card.answer
          - if user_signed_in? && card.user == current_user
            .panel-footer
              .clearfix
                .pull-right
                  = link_to t('.edit', :default => t("helpers.links.edit")),
                    edit_card_path(card), :class => 'rc-card-action'
                  = link_to t('.destroy', :default => t("helpers.links.destroy")),
                    card_path(card), :method => :delete,
                    :data => { :confirm => t('.confirm',
                    :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'rc-card-actiont'

