/ navbar
.navbar.navbar-default.rc-navbar
  .container
    .navbar-header
      %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to root_path,  class: 'navbar-brand',
          data: { toggle: "tooltip",  placement: 'bottom' },
          title: 'Go to home page' do
        = image_tag 'favicon.png'
        = SITE_NAME
    .navbar-collapse.collapse.navbar-responsive-collapse
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li
            = link_to cards_path, data: { toggle: "tooltip",  placement: 'bottom' },
              "title" => "Show your own cards" do
              %span.glyphicon.glyphicon-th-large
              My Cards
          %li
            = link_to  edit_user_registration_path, data: { toggle: "tooltip",  placement: 'bottom' },
              "title" => "Edit your info" do
              %span.glyphicon.glyphicon-user
              = current_user.email
          %li
            = link_to destroy_user_session_path, method: :delete,
              data: { toggle: "tooltip",  placement: 'bottom', confirm: 'Are you sure?' },
              "title" => "Logout your account" do
              %span.glyphicon.glyphicon-log-out
              Logout
        - else
          %li
            = link_to new_user_session_path, data: { toggle: "tooltip",  placement: 'bottom' },
              title: "Login with your account" do
              %span.glyphicon.glyphicon-log-in
              Login


